<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    
    <title>Document</title>
</head>
    <body>
    <div id="app">
        <header>
            <h1>rubrica telefonica</h1>
            <h3>aggiungi contatto <i @click="mostraNascondiAdd" class="fas fa-plus-circle"></i></h3>
            <div v-if="aggiungi">
                <input type="text" placeholder="nome" v-model="nuovoContatto.nome">
                <input type="text" placeholder="cognome" v-model="nuovoContatto.cognome">
                <input type="text" placeholder="numero" v-model="nuovoContatto.numero">
                <button @click="addContatto">aggiungi contatto</button>
            </div>
        </header>

        <main>
            <h3 class="cestino">contatti presenti ({{contatti.length}})
            <span>
                <i class="fas fa-sort-up" @click="mostraNascondiLista" v-if="visibilita"></i>
                <i class="fas fa-sort-down" @click="mostraNascondiLista" v-else></i>
            </span>
            </h3>
            
                
            
            <section class="contatti presenti">
                <button class="eliminaTutto" @click="eliminaTutto">elimina tutto</button>
                <ul v-if='visibilita'>
                    <li v-for="(primoelemento, index) in contatti"> 
                        <ul>
                            <li>{{primoelemento.nome}} {{primoelemento.cognome}}
                                <span class="icons">
                                    <i class="fas fa-id-card" @click="mostraNascondiDettagli"></i>
                                    <i class="fas fa-info-circle" @click="modifica(index)"></i>
                                    <i class="fas fa-window-close" @click="deleteContatto(index)"></i>
                                </li>
                            </span>
                            <span v-if="mostraDettagli">
                                <ul class="scheda-contatto">
                                    <li>Nome: {{primoelemento.nome}}</li>
                                    <li>Cognome: {{primoelemento.cognome}}</li>
                                    <li>Numero: {{primoelemento.numero}}</li>
                                </ul>
                            </span>
                            <span v-else></span>
                        </ul>
                    </li>
                </ul>
                <ul v-else></ul>
            </section>
        
            
            <h3 class="cestino">contatti eliminati ({{contattiEliminati.length}})</h3>
                <span>
                    <button @click="eliminaTuttoDefinitivo(0)">eliminaTuttoDefinitivo</button>
                </span>
            

                <section class="contatti eliminati">
                    <ul>
                        <li v-for="(elementis, index) in contattiEliminati">
                            <ul>
                                <li>Nome: {{elementis.nome}}</li>
                                <li>Cognome: {{elementis.cognome}}</li>
                                <li>Numero: {{elementis.numero}}</li>
                                <span>
                                    <i class="fas fa-trash-restore-alt" @click="ripristinoEliminato(index)"></i>
                                    <i class="fas fa-trash-alt" @click="deleteDefinitivo"></i>
                                </span>
                            </ul>
                        </li>
                    </ul>
                </section>
        </main>
    </div>

    <script src="vue/script.js"></script>
</body>
</html>